body, 
html {
  height: 100%;
}

h1 {
  color:greenyellow;
  font-family:fantasy;
  background-color: black;
}

h3 {
  color:greenyellow;
  font-family:fantasy;
  background-color: black;
}

body {
  background-image: url("Pittsburgh_Pennsylvania.jpeg");
  
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:cyan;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  min-width: 469px; 
}

.input-div {
  width: 50%;
  float: left;
}

